/*header*/

body {
    margin: 0em;
    padding: 0em;
    overflow-x: hidden;
}

img {
    max-width: 105%;
    left: 150px;
    height: 200%;
    /*margin-left: auto;
  display: block;
  margin-right: auto;*/
}

#logo {
    max-width: 105%;
    left: -70px;
    right: 400px;
    padding-left: -50px;
    padding-right: 100px;
}

.titel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    top: 25px;
    left: 100px;
    margin: 0em;

}

#linie {
    position: relative;
    top: 50px;
    left: -2px;
}

/*https://www.axin.de/Responsive_Design#adaptives-design*/


p {
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 20px;

    position: relative;
    top: 50px;
    left: 100px;

}

#materialien {
    position: relative;
    top: 130px;
    left: 150px;
    width: 17%;
}

#maße {
    position: relative;
    top: 130px;
    left: 180px;
    width: 17%;
}

#gewicht {
    position: relative;
    top: 130px;
    left: 210px;
    width: 17%;
}

#pflege {
    position: relative;
    top: 130px;
    left: 240px;
    width: 17%;
}

/*mittlerer Teil*/

div

/*headline*/
    {
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 30px;

    position: relative;
    top: 330px;
    left: 290px;

}

.Character {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    line-height: -25px;
    position: relative;
    top: 380px;
    left: 350px;
    right: -500px;
}

/*IQ.SIT und Komfortabilität*/
#IQ-headline {
    position: relative;
    top: 540px;
    left: 545px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 42px;
}

#IQ-bild {
    position: relative;
    top: 560px;
    left: -18px;

}

/*So flexibel wie Ihre Couch*/
.couch-headline2 {
    position: relative;
    top: 750px;
    left: 1260px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 35px;
}

.couch-headline {
    position: relative;
    top: 825px;
    left: 1074px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.couch {
    position: relative;
    top: 754px;
    left: 1074px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#aufzählung {
    position: relative;
    top: 45px;
    left: 110px;

}

/*#dreilinien {
    position: relative;
    top: 190px;
    left: 1015px;

}*/

.platz {
    position: relative;
    top: -3px;
    left: 1030px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}



.nature {
    position: relative;
    top: 63px;
    left: 1030px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#aufzug {
    position: relative;
    top: 453px;
    left: 47px;
    padding: auto;
}

/* Stil für das Akkordeon */
.accordion {
    max-width: 400px;

    top: -3850px;
    left: -40px;
}

.accordion .accordion-item {
    /*border-bottom: 20px white;*/
    left: 820px;

}

/*.accordion .accordion-item:last-child {
            border-bottom: none;
          }*/

.accordion .accordion-item .accordion-title {
    /*background-color: #f4f4f4;*/
    background-color: white;
    padding: 30px;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.accordion .accordion-item .accordion-content {
    display: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    top: 50px;
    left: 180px;
}

.accordion .accordion-item .accordion-content .accordion-img {
    position: relative;
    top: 75px;
    left: 95px;
    width: 80%;
}

.accordion .accordion-item .accordion-content {
    display: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    top: 250px;
    left: 180px;
}

.accordion .accordion-item .accordion-content .accordion-img2 {
    position: relative;
    top: 50px;
    left: 95px;
    width: 80%;
}

.accordion .accordion-item.active .accordion-content {
    display: block;
}

/*Ausstattungsvariante wählen*/

#ausstattungen {
    position: relative;
    top: 500px;
    left: 300px;
    font-family: vw-text, Helvetica, Arial, sans-serif;
    font-size: 30px;
}

/* Stil für das Karussell */
.carousel {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    /* Neue Zeile */
    overflow: hidden;
    height: 750px;
    top: 75px;
    left: -215px;
}

.carousel-item {
    flex: 0 0 20%;
    position: relative;
    top: 95px;

}

.carousel img {
    height: auto;
    display: block;
    object-fit: cover;
}

/* Stil für die Buttons */
.carousel-buttons {
    text-align: center;
    left: 100px;
    top: 285px;
}

.carousel-buttons button {
    margin: 4px 6px;
    padding: 17px;
    cursor: pointer;
    border: none;
    background-color: #001E50;
    font-size: 16px;
    border-radius: 45%;
}




/*#holz {
    position: relative;
    top: 662px;
    left: -450px;
    width: 20%;
}

#id23 {
    position: relative;
    top: 660px;
    left: -440px;
    width: 20%;
}

#hroc {
    position: relative;
    top: 660px;
    left: -430px;
    width: 20%;
}

#style {
    position: relative;
    top: 149px;
    left: 1035px;
    width: 20%;
}*/


/*Showroom*/

#showroom {
    position: relative;
    top: 570px;
    left: -35px;
}

/*
#button{
    position: relative;
    top: 710px;
   left: 615px;
}*/

.button {
    position: relative;
    top: 440px;
    left: 635px;
    border-radius: 100px;
    width: 18%;
    padding: 16px 30px;
    cursor: pointer;
    color: #001E50;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    color: white;
    background-color: lightgray
}

.pointer {
    cursor: pointer;
    color: aqua;
}

/*Footer*/

#footer {
    position: relative;
    top: 650px;
    left: -5px;
}


/*Mobile-Verson #1*/

@media screen and (min-width: 350px) and (max-width: 430px) {

    body{
        overflow-x: hidden;
        white-space: nowrap;
    }

    img{
        max-width: 115%;

        overflow-x: hidden;
    }

    #logo{
        max-width: 115%;

        overflow-x: hidden;
    }

    .titel {
        top: 15px;
        font-size: 25px;
        left: 15px;
    }

    #linie {
        top: 10px;
    }

    p {
        font-size: 18px;
        left: 20px;
    }

    #materialien {
        width: 50%;
        left: 12px;
    }

    #maße {
        width: 50%;
        left: 200px;
        top: 54px;
    }

    #gewicht {
        width: 50%;
        top: 100px;
        left: 13px;
    }

    #pflege {
        width: 50%;
        top: 23px;
        left: 200px;
    }

    div {
        font-size: 23px;
        left: 110px;
        top: 250px;
    }

    .Character {
        display: block;
        font-size: 13px;
        left: 40px;
        top: 300px;
    }

    #IQ-headline {
        font-size: 21px;
        left: 90px;
        top: 500px;
    }

    #IQ-bild {
        left: -22px;
        max-width: 130%;
        top: 520px;
    }

    .couch-headline {
        top: 750px;
        left: 90px;
        font-size: 23px;
    }

    .couch-headline2 {
        top: 701px;
        left: 210px;
        font-size: 23px;
    }

    #aufzug {
        left: -2px;
        top: 540px;
    }

    .couch {
        top: 1210px;
        left: 50px;
        font-size: 18px;
    }

    #aufzählung {
        width: 107%;
        top: 900px;
        left: 30px;
    }

    .accordion .accordion-item .accordion-title {
        font-size: 14px;
        top: 2750px;
        left: -750px;
    }

    .accordion .accordion-item .accordion-content {
        top: 2420px;
        left: -700px;
        font-size: 5px;
    }

    .accordion .accordion-item .accordion-content .accordion-img {
        top: 310px;
        left: 90px;
        width: 50%;
    }

    .accordion .accordion-item .accordion-content .accordion-img2{
        top: 50px;
        width: 42%;
    }

    #ausstattungen {
        font-size: 23px;
        top: 1260px;
        left: 45px;
    }

    .carousel {
        top: 1150px;
        left: 50px;
        height: 100%;
        overflow-x: hidden;
        max-width: 100%;
    }

    .carousel-container {
        display: flex;
        overflow: hidden;
        left: -150px;
        width: 250%;
    }

    .carousel-item {
        flex: 0 0 20%;
        left: 140px;
        width: 100%;
        height: 100%;
    }

    .carousel img {
        height: 430px;
        max-width: 160%;
        object-fit: cover;
        left: 500px;
    }

    .carousel-buttons {
        top: 1080px;
        left: 40px;
    }

    #showroom {
        top: 1400px;
        max-width: 240%;
        left: -200px;
        overflow-x: hidden;
    }

    .button {
        position: relative;
        top: 1320px;
        left: 127px;
        border-radius: 100px;
        width: 55%;
        padding: 8px 30px;
        cursor: pointer;
        color: #001E50;
        font-size: 18px;
        font-weight: bold;
    }


    #footer {
        top: 1500px;
        left: -45px;
        max-width: 160%;
        overflow-x: hidden;
    }


    
}
    
/*Mobile-Verson #2*/

@media screen and (min-width: 430px) and (max-width: 601px) {

    body {
        overflow-x: hidden;
        white-space: nowrap;
    }

    img {
        max-width: 100%;

        overflow-x: hidden;
    }

    #logo {
        overflow-x: hidden;
        max-width: 100%;

    }

    .titel {
        top: 15px;
        font-size: 17px;
        left: 15px;
    }

    #linie {
        top: 10px;
    }

    p {
        font-size: 14px;
        left: 15px;
    }

    #materialien {
        width: 42%;
        left: 12px;
    }

    #maße {
        width: 42%;
        left: 16px;
    }

    #gewicht {
        width: 42%;
        top: 200px;
        left: 13px;
    }

    #pflege {
        width: 42%;
        top: 200px;
        left: 18px;
    }

    div {
        font-size: 17px;
        left: 110px;
        top: 310px;
    }

    .Character {
        display: block;
        font-size: 8px;
        left: 5px;
        top: 340px;
    }

    #IQ-headline {
        font-size: 17px;
        left: 107px;
        top: 500px;
    }

    #IQ-bild {
        left: -15px;
        max-width: 100%;
        top: 520px;
    }

    .couch-headline {
        top: 750px;
        left: 100px;
        font-size: 20px;
    }

    .couch-headline2 {
        top: 707px;
        left: 210px;
        font-size: 20px;
    }

    #aufzug {
        left: -7px;
        top: 540px;
    }

    .couch {
        top: 1200px;
        left: 80px;
        font-size: 15px;
    }

    #aufzählung {
        width: 75%;
        top: 800px;
        left: 90px;
    }

    .accordion .accordion-item .accordion-title {
        font-size: 11px;
        top: 2600px;
        left: -740px;
    }

    .accordion .accordion-item .accordion-content {
        top: 2500px;
        left: -780px;
        font-size: 5px;
    }

    .accordion .accordion-item .accordion-content .accordion-img {
        top: 260px;
        left: 90px;
        width: 50%;
    }

    
    .accordion .accordion-item .accordion-content .accordion-img2{
        top: 50px;
        width: 42%;
    }

    #ausstattungen {
        font-size: 17px;
        top: 1230px;
        left: 30px;
    }

    .carousel {
        top: 1150px;
        left: 50px;
        height: 100%;
        overflow-x: hidden;
        max-width: 100%;
    }

    .carousel-container {
        display: flex;
        overflow: hidden;
        left: -150px;
        width: 250%;
    }

    .carousel-item {
        flex: 0 0 20%;
        left: 140px;
        width: 120%;
        height: 100%;
    }

    .carousel img {
        height: 430px;
        max-width: 120%;
        object-fit: cover;
        left: 500px;
    }

    .carousel-buttons {
        top: 1080px;
        left: 40px;
    }

    #showroom {
        top: 1400px;
        max-width: 170%;
        left: -165px;
    }

    .button {
        position: relative;
        top: 1330px;
        left: 170px;
        border-radius: 100px;
        width: 35%;
        padding: 8px 20px;
        cursor: pointer;
        color: #001E50;
        font-size: 13px;
        font-weight: bold;
    }


    #footer {
        top: 1500px;
        left: -25px;
        max-width: 120%;
    }

}